/* html elements */

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    background: #f0f0f0;
}
header{
    display: block;
    padding: 1.5em;
    background-color: #009688; 
    color: white;
}
main{
    margin-top: 30px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
/* table{
    background: white;
    border-collapse: coll÷apse;
    padding: 1em;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
} */
th{
    text-align: center;
    padding: 1em;
    /* border: 1px solid #d2d2d2; */
    /* border-radius: 20px; */
}
td{
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    border: 1px solid #d2d2d2;
}

/* classes */

.right{
    float: right;
}

.title{
    font-size: 14pt;
}

.hidden{
    display: none;
}

.card{
    border-radius: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    background: white;
    text-align: left;
    margin-right: 1.5em;
    float: left;
    border: 1px solid #d2d2d2;
}

.card-fixed{
    width: 300px;
    min-height: 150px;
}

/* Material Icons */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }