/* html elements */

:root{
    --success-color: #4CAF50;
    --error-color: #F44336;
}

html{
    font-family: Raleway, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
    background: #f2f2f2;
}

nav{
    justify-content: space-between;
    padding: 1.5em;
    background: white;
    max-width: 100%;
}

header nav a {
    text-decoration: none;
}

main{
    margin-top: 30px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

th{
    text-align: center;
    padding: 1em;
}

td{
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    white-space: normal;
}

p{
    line-height: 1.75em;
}

/* classes */

.title{
    font-size: 16pt;
    font-family: cursive;
    display: inline-block;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.card{
    display: inline-block;
    border-radius: 20px;
    padding: 1.5em;
    background: white;
    text-align: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-fixed{
    max-width: 300px;
    white-space: normal;
}

.row{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    align-items: baseline;
}

.message{
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    border-radius: 5px;
    padding: 1.5em;
    color: white;
}

.success{
    background-color: var(--success-color);
}

.error{
    background-color: var(--error-color);
}

/* Material Icons */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* media queries for responsiveness */

@media only screen and (max-width: 720px) {
    main{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .row{
        display: block;
    }
    .card{
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }
    .card-fixed{
        max-width: none;
    }
}